[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
asyncpg = "*"
python-dotenv = "*"
pyodbc = "*"
pandas = "*"
psycopg2 = "*"
pymysql = "*"
cryptography = "*"
faker = "*"

[dev-packages]

[requires]
python_version = "3.8"
